body{
	background-color: #BE81F7;
}
h1{
	background-color:#A9E2F3;
	border:2px solid; 
}
h2{
	background-color: #CEF6E3;
}

h3{
	background-color: #BEF781;
	font- size: 4;


}

h4{
	background-color: gold;
	border:2px #FA8258;
	font-size: 6;
}

h5{
	background-color: gold;
	border:2px #000000;
	font-size: 5;
}
h6{
	background-color: gold;
	border:2px #F5A9A9;
	font-size: 8;
}